[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
poetry = "*"
cookiecutter = "*"
sphinx = "*"
jinja2 = ">=2.11.3"

[packages]

[requires]
python_version = "3.9"
