[MASTER]
disable=missing-module-docstring,
        missing-function-docstring


# ignored-modules=tmlogging,foo,bar,baz

# NOTE: To disable pylint in one specific line of a file, put a comment like this one:
#   # pylint: disable=invalid-name
# 
# To disable all warning in a file use:
#   # pylint: skip-file
#
# You can generate see all possible config options with:
#   $ pylint --generate-rcfile
